body {
    margin: 0;
    background-color: #70c5ce;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  #game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url("asset/flappy-bird.gif") no-repeat center center;
    background-size: cover;
  }
                                                                                 
  #bird {
    width: 70px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 40%;
    background: url("asset/png-transparent-bell-flying-bird-flight-floppy-bird-infinity-flappy-bird-fly-animals-insects-smiley-removebg-preview.png") no-repeat center center;
    background-size: cover;

      /* session 4 : New for rotation */
  transform-origin: center;
  transition: transform 0.1s linear;
  }
  
  #score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 24px;
    font-family: "Pacifico", cursive;
  }
  
  /* session 2 */
  #start-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* session2 */
  #start-btn:hover {
    background-color: #218838;
   
  }
  
  /* session 3 */
  .pipe {
    position: absolute;
    width: 60px;
    background-color: green;
  }
  
  .top-pipe {
    top: 0;
    border-bottom: 5px solid darkgreen;
  }
  
  .bottom-pipe {
    border-top: 5px solid darkgreen;
  }

  /* session 4 */
#difficulty-select {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
  